{% extends 'people/app_base.html' %}
{% block content_body %}
    <h4>Student Detail</h4>
    <div>
    <p>photo</p>
    {% if student.image %}
        <img src="{{ student.image.url }}" alt="photo">
        {% else %}
        <img src="" alt="photo here">
    {% endif %}
    </div>
    <div><p>Prénom</p><p>{{ student.firstname }}</p</div>
    <div><p>Nom</p><p>{{ student.lastname }}</p</div>
    <div><p>sexe</p><p>{{ student.gender }}</p</div>
    <div><p>age</p><p>{{ student.age }}</p</div>
    <div><p>téléphone</p><p>{{ student.telephone }}</p</div>
    <div><p>email</p><p>{{ student.email }}</p</div>
    <br>
    <br>
    <a href="{% url 'student_update' student.pk %}">modifer la photo</a>

{% endblock %}