{% extends 'people/app_base.html' %}
{% block body_class %}student-home{% endblock %}
{% block pagetitle %}
<div> / suite</div>
{% endblock %}
{% block content_head %}

{% endblock %}
{% block content_body %}
<div class="contentgrid">

<div class="card-profile one">
<div class="titles">Profile</div>
<div class="body">
<div class="wrapperall">
    <div class="imgwrapper">
        {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="">
        {% else %}
            <i class="fas fa-user"></i>
        {% endif %}
    </div>
</div>

    <table class="detailtext">
        <tbody>
        <tr class="detailtextrow">
            <td>Prénom</td>
            <td>{{ profile.firstname }}</td>
        </tr>
        <tr class="detailtextrow">
            <td>Nom</td><td>{{ profile.lastname }}</td>
        </tr>
        <tr class="detailtextrow">
            <td>Sexe</td><td>{{ profile.get_gender_display }}</td>
        </tr>
        <tr class="detailtextrow">
            <td>Age</td><td>{{ profile.age }}</td>
        </tr>
        <tr class="detailtextrow">
            <td>Téléphone</td><td>{{ profile.telephone }}</td>
        </tr>
        <tr class="detailtextrow">
            <td>Email</td><td>{{ profile.email }}</td>
        </tr>
        </tbody>

    </table>
</div>

</div>
 <div class="card-profile two">
<div class="titles">Info scolaire {{ school_year }}</div>
<div class="body">
    <table class="detailtext">
        <tbody>
        <tr class="detailtextrow">
            <td>Etablissement:</td>
            <td>Lycée Filima (Kamsar)</td>
        </tr>
        <tr class="detailtextrow">
            <td>Option</td><td>Sciences Mathématiques</td>
        </tr>
        <tr class="detailtextrow">
            <td>Classe</td><td>Terminale</td>
        </tr>
        <tr class="detailtextrow">
            <td>Section de classe</td><td>SM II</td>
        </tr>
        <tr class="detailtextrow">
            <td>Trimestre/semestre</td><td>1er trimestre</td>
        </tr>
        </tbody>

    </table>
</div>

</div>
</div>
    <a href="{% url 'student_detail' profile.pk %}">profile</a>


{#    {% if profile.studentsystudents.first %}#}
{#    <p>{{ profile.studentsystudents.first }}</p>#}
{#    {% endif %}#}

{% endblock %}