{% extends 'base.html' %}
{% block header_title %}
    {% if request.user.user_type == 'STUDENT' %}
    <i class="fa fa-university"></i>
    <div class="title">Lycée Filima</div>
    {% endif %}
{% endblock %}
{% block aside %}
    <div class="d-flex text-end w-100 justify-content-end">
        <i class="fa fa-times text-white-50 d-lg-none p-1 border rounded mx-2"></i>
    </div>

    <div class="card bg-transparent">
        <div class="card-body px-5 pb-1">
            {% if profile.image %}
                <img class="card-img rounded-3" src="{{ profile.image.url }}" alt="">
            {% else %}
                <img src="" alt="profile pic">
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="card-text">
            <div class="firstname text-light text-center fw-normal">@{{ request.user }}</div>
            <div class="d-flex justify-content-between px-3">
                <div class="role text-white-50 text-center fw-light small">{{ user.role|lower }}</div>
                <a href="{% url 'student_detail' profile.pk %}">
                    <div>profile</div>
                </a>
            </div>
        </div>
        </div>

    </div>
    <div class="menu">
        <div class="text-white-50 pb-2 text-center">menu</div>
    {% block menu %}
        {% if request.user.user_type == 'TEACHER' %}
            <ul>
                <li>menu1</li>
                <li>menu2</li>
                <li>menu3</li>
                <li>menu4</li>
            </ul>
        {% elif request.user.user_type == 'STUDENT' %}
            <ul>
                <li><a class="active" href=""><i class="fa fas fa-qrcode"></i>Tableau de bord</a></li>
                <li><a href="{% url 'student_classroom' %}"><i class="fas fa-chalkboard"></i>Classe</a></li>
                <li><a href="{% url 'student_marks' %}"><i class="fas fa-note-sticky"></i>Notes</a></li>
                <li><a href="#"><i class="fas fa-clock"></i>Emploi du temps</a></li>
                <li><a href="#"><i class="fas fa-info-circle"></i>Info / Messages</a></li>
                <li><a href="#"><i class="fas fa-list-ol"></i>Resultats</a></li>
                <li><a href="#"><i class="fas fa-book-open-reader"></i>Bibliothèque</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Compte</a></li>
            </ul>
        {% elif request.user.user_type == 'SCHOOLADMIN' %}
            <ul>

                <li><a class="active" href=""><i class="fa fas fa-qrcode"></i>Tableau de bord</a></li>
                <li><a href="#"><i class="fas fa-chalkboard"></i>Classe</a></li>
                <li><a href="#"><i class="fas fa-note-sticky"></i>Notes</a></li>
                <li><a href="#"><i class="fas fa-clock"></i>Emploi du temps</a></li>
                <li><a href="#"><i class="fas fa-info-circle"></i>Info / Messages</a></li>
                <li><a href="#"><i class="fas fa-list-ol"></i>Resultats</a></li>
                <li><a href="#"><i class="fas fa-book-open-reader"></i>Bibliothèque</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Compte</a></li>
            </ul>
        {% elif request.user.user_type == 'ADMIN' %}
            <ul>

                <li><a class="active" href=""><i class="fa fas fa-qrcode"></i>Tableau de bord</a></li>
                <li><a href="#"><i class="fas fa-chalkboard"></i>Classe</a></li>
                <li><a href="#"><i class="fas fa-note-sticky"></i>Notes</a></li>
                <li><a href="#"><i class="fas fa-clock"></i>Emploi du temps</a></li>
                <li><a href="#"><i class="fas fa-info-circle"></i>Info / Messages</a></li>
                <li><a href="#"><i class="fas fa-list-ol"></i>Resultats</a></li>
                <li><a href="#"><i class="fas fa-book-open-reader"></i>Bibliothèque</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Compte</a></li>
            </ul>
        {% endif %}
    {% endblock %}
    </div>
{% endblock %}
{% block content %}
    <div class="contenthead">
    {% if request.user.user_type == 'STUDENT' %}
        <div class="nav"><div class="pagetitle"><a href="{% url 'home_redirect' %}"><i class="fas fa-home"></i></a>
    {% block pagetitle %}{% endblock %}</div>
            <div>session:</div><small>2023-2024</small></div>
    {% endif %}
        {% block content_head %}{% endblock %}</div>
    <div class="contentbody w-100">{% block content_body %}{% endblock %}</div>
{% endblock %}