<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }} {{ form.username }}
    {{ form.email.label_tag }} {{ form.email}}
    {{ form.first_name.label_tag }} {{ form.firstname}}
    {{ form.last_name.label_tag }} {{ form.last_name}}
    {{form.password1.label_tag }} {{ form.password1 }}
    {{ form.password2.label_tag }} {{ form.password2 }}
    {{ form.user_type.label_tag }} {{ form.user_type}}
    <button type="submit">Se connecter</button>
</form>
</body>
</html>