{% extends 'people/app_base.html' %}
{% block body_class %}teacher-home{% endblock %}
{% block content_head %}
    <h2>Welcome to you Teacher</h2>
{% endblock %}
{% block content_body %}
    <div>
    <p>jjjjjjjj
    {{ school_year }}
    </p>
    <p>I teach English Language</p>
    <p>fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffcxvxbnxvbnwwwwwwwwwwwwwwwwwwwwwwwwwwfs</p>
    {% if request.user.get_profile %}
        <p>{{ request.user.get_profile.first_name }}</p>
        {% else %}
        <p>pas de nom</p>
    {% endif %}
    <hr>
    <div class="">
        {% for obj in teacher_subject_mark_list %}
            <div class="text-muted small my-0">section: {{ obj.subject }}</div>
            {% for mark in obj.marks %}
                <div class="card my-3 shadow bg-body">
                    <div class="card-header">{{ obj.classroom }} - {{ obj.subject }} - {{ mark.mark_type }}

                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-bordered table-striped">
                            <thead class="bg-secondary-subtle p-0">
                                <tr class="p-0">
                                    <th>Prénoms et Noms</th>
                                    <th>cours</th>
                                    <th>Compos</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in mark.marks %}
                                <tr>
                                    <td><div class="small">{{ item.student__student__firstname }} {{ item.student__student__lastname }}</div></td>
                                    <td><div class="small">{{ item.mark1 }}</div></td>
                                    <td><div class="small">{{ item.mark2 }}</div></td>
                                    <td><button class="btn btn-success btn-sm p-1"><i class="fas fa-edit small text-light"></i></button></td>
                                    <td><button class="btn btn-danger btn-sm p-1"><i class="fas fa-trash small text-light"></i></button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    </div>

{% endblock %}