{% extends 'common.html' %}
{% block body %}
    <div id="aside" class="aside">{% block aside %}{% endblock %}</div>
    <div id="darklayer" class="darklayer bg-dark bg-opacity-50"></div>
    <div id="wrapper" class="wrapper">

        <div class="header">
            <i id="asidetoggler" class="fas fa-bars p-2 border d-block d-lg-none"></i>
            <div class="headertitle">{% block header_title %}{% endblock %}</div>
            <div class="headerdetail">
                <div class="greenlight rounded-circle"></div>
                <div class="picwrapper">
                    {% if profile.image %}

                        <img src="{{ profile.image.url }}" alt="profile">
                    {% else %}
                        <img src="" alt="profile">
                    {% endif %}
                </div>

                {% if request.user.is_authenticated %}
                    <div class="username">@{{ request.user.username }}</div>
                    <a class="logout" href="{% url 'user_logout' %}">se deconnecter<i class="fas fa-power-off"></i></a>
                {% else %}
                    <a class="login" href="{% url 'user_login' %}"><i class="fas fa-sign-in"></i>se connecter</a>
                {% endif %}
            </div>
        </div>
        <div class="content">{% block content %}{% endblock %}</div>
    </div>
{% endblock %}
{% block page_js %}
    <script>
        $(document).ready(function (){
            $("#asidetoggler").click(function (){
                $("#aside").toggleClass("show");
                $("#darklayer").toggleClass("show");
            });
            $("#darklayer").click(function (){
                $("#aside").toggleClass("show");
                $(this).toggleClass("show");
            });

        })
    </script>
{% endblock %}