{% load static %}
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% block extra_style %}{% endblock %}
    {% block extra_js %}{% endblock %}

    <title>{% block title %}defaut{% endblock %}</title>
</head>
<body class="body body-{% block body_class %}{% endblock %}">

{% block body %}

{% endblock %}

 {% block page_js %}{% endblock %}

</body>
</html>

