{% extends 'people/app_base.html' %}

{% block content_head %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% if similar %}
     <p>{{ similar }}</p>
    <a href="{% url 'timetable_update' similar.pk %}">Mettre à jour</a>
    <hr>
{% endif %}
    <div class="container p-3">
<div class="row">
<div class="card col-12">
<div class="">Ajout d"emploi du temps</div>
    <form class="col-12" method="post">
    <div class="row">
    {% csrf_token %}
        <div class="form-group col-xs-12 col-md-6 col-lg-3">
            <label style="padding-top: .5rem" class="form-fiel-label" for="id_schedule">pour:</label>{{ form.schedule }}
        </div>
        <div class="form-group col-xs-12 col-md-6 col-lg-3">
            <label style="padding-top: .5rem" class="form-fiel-label" for="id_day">jour:</label>{{ form.day }}
        </div>
        <div class="form-group col-xs-12 col-md-6 col-lg-3">
            <label style="padding-top: .5rem" class="form-fiel-label" for="id_subject">matière</label>{{ form.subject }}
        </div>
        <div class="form-group col-xs-12 col-md-6 col-lg-3">
            <label style="padding-top: .5rem" class="form-fiel-label" for="id_classroom">classe</label>
            {{ form.classroom }}
        </div>
        <div class="form-group col-sm-6 col-md-3 col-lg-3">
            <label style="padding-top: .5rem" class="form-fiel-label" for="id_start_time">débute à</label>{{ form.start_time }}
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <label style="padding-top: .5rem" class="form-fiel-label" for="id_end_time">finit à</label>{{ form.end_time }}
        </div>
        <div class="form-group col-6">
            <div class="row p-3 col-g-3">
            <button class="btn btn-primary col-6" style="align-self: end; background-color: orange" type="submit">Add</button>
            <button class="btn btn-primary col-6" style="align-self: end; background-color: orange" type="submit">Ajouter et Continuer</button>
            </div>
        </div>
    </div>
</form>
</div>

</div>
</div>


{% endblock %}
{% block content_body %}

{#    {% for hor in object_list %}#}
{#    <p>{{ hor.schedule }}-{{ hor.day }}-{{ hor.start_time }}-{{ hor.end_time }}-{{ hor.classroom }}</p>#}
{#    {% endfor %}#}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
                <th>Samedi</th>
                <th>Dimanche</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% for sub in monday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>
                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
            <td>
                {% for sub in tuesday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>
                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
            <td>
                {% for sub in wednesday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>
                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
            <td>
                {% for sub in thursday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>
                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
            <td>
                {% for sub in friday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>
                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
            <td>
                {% for sub in friday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>
                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
            <td>
                {% for sub in saturday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>
                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
            <td>
                {% for sub in sunday %}
                    <small>{{ sub.start_time|time:"H:i" }} - {{ sub.end_time|time:"H:i" }}</small>

                    <p>{{ sub.subject }}</p>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}