{% extends 'people/app_base.html' %}
{% block content_body %}

<form method="post">

    {% csrf_token %}
    {{ form }}
     <button type="submit">Update</button>
</form>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block page_js %}
    <script>
    const starttime = document.getElementById('id_start_time');
    const endtime = document.getElementById('id_end_time');

    starttime.setAttribute('min', '07:00');
    starttime.setAttribute('max', '18:30');
    starttime.step = 900;

    endtime.setAttribute('min', '08:00');
    endtime.setAttribute('max', '18:30');
    endtime.step = 900;
    </script>
{% endblock %}